<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-bio">
      <p>Hi!</p>
      <p>
        My name is <strong>Mostafa Mubashir Hossain</strong>, but everyone calls me by my nickname <strong>Galeeb</strong>.
      </p>
      <p>
        I am currently a student at the Islamic University of Technology (IUT) pursuing my BSc in Computer Science and Engineering. As a student, besides my studies, I am currently part of the IUT programming community, having attended multiple national-level programming competitions.
      </p>
      <p>
        Some of my interests in the CS field are <strong>Quantitative Finance</strong> and <strong>Financial ML/RL</strong>.
      </p>
      <p>
        Outside of this, my hobbies include playing video games, watching anime, and listening to music.
      </p>
    </div>

    <div class="hero-actions">
      <a href="#projects" class="btn btn-primary">Explore Projects</a>
      <a href="mailto:galeeb8917@gmail.com" class="btn btn-secondary">Get In Touch</a>
    </div>
  </div>
</section>
